body {
    margin: 5;
    padding: 5;
    font-size: 15px;
  }
  nav {
    background-color: #333;
    margin: 2;
    overflow: hidden;
  }
  nav ul {
    margin: 2;
    padding: 5;
  }
  nav ul li {
    /* This allow us to arrange list items in a row, without using float */
    display: inline-block;
    list-style-type: none;
  }
  
  /* Create a style for the first level items */
  nav > ul > li > a {
    color: #aaa;
    background-color: #ff0;
    display: block;
    line-height: 2em;
    padding: 2em 2em;
    text-decoration: none;
  }
  